{% extends 'base.html.twig' %}
{% block page_title %}Modifier Vente{% endblock %}
{% block body %}<div class="card"><div class="card-body">{{ form_start(form) }}{{ form_widget(form) }}<button class="btn btn-success">Mettre à jour</button>{{ form_end(form) }}</div></div>{% endblock %}
