{% extends 'base.html.twig' %}

{% block title %}Modifier {{ marche.nom }}{% endblock %}
{% block breadcrumb_current %}Marketplace Aïd > {{ campagne.nom }} > Modifier marché{% endblock %}

{% block body %}
<div class="page-header" data-aos="fade-down">
    <div>
        <h1 class="page-title">Modifier le marché</h1>
        <p class="page-subtitle">Ajustez les lots, quantités et responsable.</p>
    </div>
    <div class="page-actions">
        <a href="{{ path('aid_marche_show', {campagneId: campagne.id, id: marche.id}) }}" class="btn-secondary"><i class="bi bi-arrow-left"></i> Retour</a>
    </div>
</div>

{% include 'aid/marches/_form.html.twig' with { form: form, campagne: campagne, button_label: 'Enregistrer les modifications' } %}
{% endblock %}